@import '~@angular/material/theming';
@import '../../themes/dark.scss';

.wrapper {
  width: 100%;
  height: 100%;
}

.node-editor:focus {
  outline: 0;
}

$grid-size: 20px;
$grid-color: #363636;
.node-editor {
  background-size: $grid-size $grid-size;
  background-image: linear-gradient(to right, $grid-color 1px, transparent 1px), linear-gradient(to bottom, $grid-color 1px, transparent 1px);
  background-color: darken($grid-color, 6%);
  .node {
    cursor: pointer;
    background-color: #404040;
    border: 0;
    border-radius: 8px;

    @include mat-elevation(4);
    @include mat-elevation-transition();

    &:hover {
      background-color: #404040;
    }
    .title {
      padding: 16px;
      @include mat-elevation(4);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    .socket {
      margin-right: -12px;
      border: 0;
      @include mat-elevation(6);
      @include mat-elevation-transition();
      &:hover {
        @include mat-elevation(16);
      }
    }
    .socket.input {
      margin-right: 12px;
    }

  }
  .node.selected {
    @include mat-elevation(16);
    background-color: #404040;
  }

  .group{
    background-color: rgba(0, 136, 225,0.2);
    &.selected{
      border-color: #FFCA28;
    }
  }

  .connections {
    .connection {
      stroke-width: 4px;
      stroke: #ffffff;
      pointer-events: none;
      position: absolute;
      overflow: visible;
      &.selected{
        stroke: #ffffff;
      }
    }
  }

}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + p{ /* IMAGE STYLES */
  cursor:pointer;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 4px;
  img{
    width: 100%;
    @include mat-elevation(4);
  }
  border:2px solid transparent;
}
label > input:checked + p{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content{
  overflow: auto;
  @include mat-elevation(4);
}
.dropdown{
  position: relative;
  height: 20px;
  overflow: hidden;
  transition-property: height;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.dropdown:hover{
  height: unset;
}