@import '~@angular/material/theming';

.wrapper {
  width: 100%;
}

.socket {

}

.node-editor:focus {
  outline: 0;
}

.node-editor {
  .node {
    border: 0;
    border-radius: 0;
    color: black;
    @include mat-elevation(4);
    @include mat-elevation-transition()
  }
  .node.selected{
    @include mat-elevation(8)
  }
}