body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import "themes/dark";

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

.context-menu{
  z-index: 2;
}